<div class="recoverPassword">
  <img class="recoverPasswordLogo" src="assets/wide-logo.jpg" alt="wide-logo" />
  <h1>Reestablecer contraseña</h1>

  <p>
    Ingresa tu correo electrónico para enviarte un enlace con el que puedas
    restablecer tu contraseña
  </p>

  <form class="recoverPasswordForm" (submit)="onSubmit($event)">
    <mat-form-field appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input type="email" matInput placeholder="Ex. user@example.com" />
    </mat-form-field>

    <button mat-button color="primary">Enviar</button>
  </form>
</div>
