@import "./../../../tokens.scss";

.recoverPassword {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: $max-mobile-width;
}

.recoverPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recoverPasswordLogo {
  height: 8rem;
  object-fit: cover;
}
