<mat-grid-list cols="6" rowHeight="30px">
    <mat-grid-tile mat-grid-tile [colspan]="1">
        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_circle_left</mat-icon>
    </mat-grid-tile>
</mat-grid-list>
<div class>
    <mat-card class="card-list">

        <mat-card-header>
            <mat-card-title>Configuración de compuertas general</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-grid-list cols="1" rows="3" rowHeight="100px">
                <mat-grid-tile mat-grid-tile [colspan]="1">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">automatica</mat-radio-button>
                        <mat-radio-button value="2">manual</mat-radio-button>
                    </mat-radio-group>
                </mat-grid-tile>
                <mat-grid-tile mat-grid-tile [colspan]="1">
                    <mat-label>Tiempo que iniciaran en abrirse</mat-label>
                    <mat-form-field>
                        <input type="number" class="form-control" matInput name="value" placeholder="Tiempo en minutos"
                            (change)="xxx()" formControlName="value">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile mat-grid-tile [colspan]="1">
                    <h5>El tiempo minimo es 0 minutos y el máximo es 30 minutos</h5>
                </mat-grid-tile>

                
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>