@import "./../../../../tokens.scss";

.newPassword {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: $max-mobile-width;
}

.newPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newPasswordLogo {
  height: 8rem;
  object-fit: cover;
}
