<div class="newPassword">
  <img class="newPasswordLogo" src="assets/wide-logo.jpg" alt="wide-logo" />
  <h1>Reestablecer contraseña</h1>

  <form class="newPasswordForm" (submit)="onSubmit($event)">
    <mat-form-field appearance="fill">
      <mat-label>Nueva contraseña</mat-label>
      <input type="password" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirma tu contraseña</mat-label>
      <input type="password" matInput />
    </mat-form-field>

    <button mat-button color="primary">Reestablecer contraseña</button>
  </form>
</div>
