@import "./../../../tokens.scss";
.mainLogo {
  height: 4rem;
  align-self: flex-start;
  width: 14rem;
  object-fit: cover;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    height: 100vh;

    @media screen and (max-width: $max-mobile-width) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: $max-mobile-width;
    }
}
.account-box{
  
  float: right;
}
header{
  margin: 10px;
  width: 80%;
  align-self: center;
}
.table-main {
    width: 13rem;
    flex-direction: column;
    gap: 1rem;
    max-width: $max-mobile-width;
}
