<div class="emailSentContainer">
  <img
    class="emailSentHeroLogo"
    src="assets/wide-logo.jpg"
    alt="wide-hero-logo"
  />

  <div class="emailSent">
    <img class="emailSentLogo" src="assets/wide-logo.jpg" alt="wide-logo" />
    <h1>Correo electrónico enviado</h1>

    <p>
      Acabamos de enviar un correo electrónico con un enlace para que puedas
      restablecer tu contraseña
    </p>

    <form class="emailSentForm" (submit)="onSubmit($event)">
      <button mat-button color="primary">Ir a iniciar sesión</button>
    </form>
  </div>
</div>
